/* ==========================================================================
   AUFGABE 1: Globale Styles (Gilt für alle Seiten)
   ========================================================================== */

body {
    background-color: #F5FFFA; 
    margin: 0;
    padding: 0;
}

#header {
    background-color: #f5fffa;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#login {
    background-color: #3f3f3f;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

    #login form {
        display: flex;
        flex-direction: column;
        gap: 8px; 
    }

    #login input {
        text-align: right;
    }

#nav-menu {
    background-color: #000000; 
    border-bottom: 3px solid #00BFFF; 
    margin: 0;
    padding: 0;
}

    #nav-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #nav-menu a {
        padding: 15px 25px;
        color: white;
        text-decoration: none; 
        font-size: 1.5rem; 
        font-weight: bold; 
    }

        #nav-menu a:hover {
            background-color: #87CEFA; 
            color: black;
        }

#top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #87CEFA;
    color: black;
    text-decoration: none;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000; 
}

main {
    padding-left: 20px;
    box-sizing: border-box;
}

footer {
    background-color: black; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

    footer a {
        color: white;
    }
