/* ==========================================================================
   Global
   ========================================================================== */

body {
    background-color: #F5FFFA; 
    margin: 0;
    padding: 0;

    overflow-x: hidden;
}



#header {
    background-color: #f5fffa;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#login {
    position: absolute;
    background-color: #3f3f3f;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    right: 30px;
}

    #login form {
        display: flex;
        flex-direction: column;
        gap: 8px; 
    }

    #login input {
        text-align: right;
    }

#nav-menu {
    background-color: #000000; 
    border-bottom: 3px solid #00BFFF; 
    margin: 0;
    padding: 0;
}

    #nav-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #nav-menu a {
        padding: 15px 25px;
        color: white;
        text-decoration: none; 
        font-size: 1.5rem; 
        font-weight: bold; 
    }

        #nav-menu a:hover {
            background-color: #87CEFA; 
            color: black;
        }

#top-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #87CEFA;
    color: black;
    text-decoration: none;
    width: 40px; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 1000; 
}

#main {
    padding-left: 20px;
    box-sizing: border-box;
}

footer {
    background-color: black; 
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}


    footer a {
        color: white;
    }

/* ==========================================================================
   Index.html
   ========================================================================== */

#index-wilkommen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    font-size: 500%;
    background-color: #000;
    color: white;
    text-align: center;
}

#index-main {

    display: flex;
}

#index-content-left {
    flex: 1;
    min-width: 0; 
}
    #index-content-left video {
        width: 100%; 
        max-width: 100%; 
        height: auto;
    }

#index-content-right {
    flex: 1;
}


#index-wilkommen {
    position: relative; 
    background-color: black;
    height: 500px;
}


#index-animation {
    position: relative;
    width: 100%;
    margin: 0;
    height: 30px;
}

    #index-animation span {
        position: absolute;
        left: 0;
        top: 50%; 
        transform: translateY(-50%);
        width: 100%;
        display: block;
    }

.zeile-1 {
    animation: verschwinde 6s forwards;
}

.zeile-2 {
    opacity: 0; 
    animation: erscheine 6s forwards;
    animation-delay: 3s; /
}

@keyframes verschwinde {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes erscheine {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer a {
    color: white;
}

/* ==========================================================================
   Projektübersichtsseite  ProjectOverview.html
   ========================================================================== */

.projectO-dropdown-container {
    position: relative;
    display: inline-block;
    width: 250px;
}

#projectO-hover {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.projectO-dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 10;
}

    .projectO-dropdown-list li {
        padding: 10px;
        cursor: pointer;
    }

        .dropdown-list li:hover {
            background-color: #f0f0f0;
        }

.projectO-dropdown-container:hover .projectO-dropdown-list {
    display: block;
}

#projectO-hover:hover{
    
}

#projektO-titel {
    font-size: 150%;
    color: white;
    background-color: #1B1C1D;
}

#projektO-explain {
    background-color: white;
    padding: 5px;
}

#projectO-darkBG {
    background-color: #1B1C1D;
}

/* ==========================================================================
   AUFGABE 4: Projektseite 
   ========================================================================== */
#content-menu {
    position: absolute;
    left: 0px;
    width: 200px;
    background-color: #3f3f3f;
    list-style: none;
    padding: 0;
    margin-left: 0;
    color: white;
}

#content-menu a {
    color: white;

    display: block;
}

#content-menu a:hover {
    background-color: #87CEFA; 
    color: black; 
}

#details {
    position: relative;
    left: 205px;

    border-left: 3px solid #00BFFF;
    padding-left: 10px;
}


#project-title {
    position: sticky;
    top: 5px;

    width: 85%;

    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: white;
    background-color: #00BFFF;

    display: flex;
    flex-direction: row;

    gap: 10px;

    line-height: 1;
}

    #project-title h1 {
        background-color: #1B1C1D;
    }

    #project-title p {
        margin-left: auto;
        align-items: center;

        background-color: #1B1C1D;
        padding: 25px 20px;
    }

#comment textarea{
    background-color: transparent;

    border: 1px solid #00BFFF;
}

    #comment textarea:focus {
        background-color: white;
    }


/* ==========================================================================
   AUFGABE 4: Projektseite 
   ========================================================================== */

#create-form {
    margin-left: 10px;
}

#create-project-1 {
    display: flex;
    flex-direction: row;

    gap: 10px;

    background-color: #00BFFF;
}

#create-project-1 input[type="text"] {
    background-color: transparent;

    border: none;

    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: #1B1C1D;

    line-height: 1;
}

#create-project-2 {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

#create-project-2 input[type="text"]{
    background-color: transparent;

    border: none;

    width: 300px;

    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: #1B1C1D;
}

#create-project-2 input[type="date"] {
    background-color: transparent;
    border: none;
}

#create-project-2 input[name="Kurzbeschreibung"] {
    width: auto;
}

#create-project-2 input[name="Langbeschreibung"] {
    width: auto;
}

#date {
    display: flex;
    flex-direction: row;

    gap: 5px;
}

#create-form input[type="submit"] {
    margin-top: 20px;
    
    background-color: transparent;
    border: none;
}

#create-form input[type="submit"]:hover {
    background-color: #87CEFA;

    border-radius: 5px;
}

